@include desktop{
    .comp-3b{
        display: none;
    }
    .comp-3{
        @include wid-auto(1174);
        padding: 114px 0 110px 0;
        > div{
            @include row;
            align-items: flex-start;
        }
        .apple-img{
            width: percent(510, 1174);
            margin-top: 4px;
            position: relative;
            img{
                width: 100%;
                z-index: 4;
            }
            .inner-img{
                width: percent(468, 510);
                height: 65%;
                position: absolute;
                top: percent(21, 400);;
                left: percent(21, 510);
                overflow: hidden;
            }
        }
        .side{
            width: percent(578, 1174);
            padding-left: 4px;
            > div{
                margin-top: 48px;
                @include row;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                > div{
                    width: calc((100% - 38px) / 2);
                    margin-bottom: 50px;
                    @include row;
                    flex-wrap: wrap;
                }
            }
            .text{
                width: 66%;
            }
            h1{
                @include l-spacing(-20);
                white-space: nowrap;
                margin-bottom: 22px;
            }
            p{
                line-height: 27px;
                font-size: 14px;
            }
            i{
                font-size: 24px;
                color: #fff;
                @include roundify(63px, #3B3B3B);
                line-height: 63px;
                margin: 0 24px 12px 4px;
            }
            h3{
                font-size: 18px;
                @include l-spacing(-20);
                font-weight: 700;
                padding-left: 2px;
            }
            div p{
                font-size: 13px;
                line-height: 22px;
                margin-top: 10px;
                padding-left: 4px;
            }
        }
    }
}