.comp-5{
    .grid-5{
        width: 100%;
        display: grid;
        > div{
            background-color: #000;
            cursor: pointer;
            .popup{
                display: none;
                color: #fff;
                background-color: rgba(41,41,41,0.6);
                height: 100%;
                width: 100%;
                position: relative;
                h4{
                    color: #fff;
                    font-weight: 600;
                }
                span{
                    color: $main-teal;
                    font-style: italic;
                    font-weight: 600;
                    letter-spacing: 0.02em;
                }
                .text{
                    position: absolute;
                    background-color: #000;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                }
                i{
                    border: 2px solid $main-teal;
                    &:hover{
                        background-color: $main-teal;
                    }
                }
                .icons{
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &:hover{
                .popup{
                    display: block;
                }
            }
        }
    }
             // add photos to gallery
    $count: 1;
    @while $count < 8 {
        .p#{$count} {
            background: #000 url(images/gallery/fl#{$count}.jpg) no-repeat center;
            background-size: cover;
            }
            $count: $count + 1;
        }
}