.comp-5{
    @include tablet{
        @include tablet-padding;
        .grid-5{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 230px 230px;
            grid-gap: 23px;
        }
        .popup{
            i{
                @include roundify(37px, transparent);
                line-height: 35px;
                &:first-of-type{
                    margin-right: 4px;
                }
            }
            .icons{
                top: 44%;
            }
            .text{
                height: 58px;
                padding-top: 14px;
            }
            h4{
                font-size: 12px;
                margin-bottom: 2px;
                line-height: 12px;
            }
            span{
                font-size: 10px;
            }
        }
    }
}