.comp-4{
    @include tablet{
        background-color: #000;
        @include tablet-padding;
        padding-bottom: 75px;
        .content{
            padding-top: 10px;
            width: 300px;
            @include column;
            @include center;
            text-align: center;
            article{
                margin-bottom: 75px;
                &:last-of-type{
                    margin-bottom: 0;
                }
                h3{
                    font-size: 20px;
                    @include l-spacing(20);
                    margin-bottom: 14px;
                 }
                 p{
                     font-size: 14px;
                 }
            }
        }
    }
}