.comp-6{
    @include desktop{
        padding: 92px 0 122px 0;
        .title{
            margin-bottom: 118px;
        }
        .content{
            @include wid-auto(945);
            > div{
                width: percent(770, 945);
                padding-right: 20px;
            }
        }
        form{
            padding-top: 80px;
        }
    }
}